@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "AnimeAce";
  src: url(../fonts/animeace/animeace2bb_ot/animeace2_reg.otf);
}
body {
  background-image: url(../images/img/circle/hintergrund.jpg);
  background-repeat: no-repeat;
}

/*Verkackte schrift*/
h1, .zweiteuber {
  font-family: "AnimeAce";
  color: #7e1527;
  text-shadow: 1px 1px 0px white, 1px -1px 0px white, -1px 1px 0px white, -1px -1px 0px white;
  text-align: center;
}

h3 {
  text-decoration: underline;
  font-family: "AnimeAce";
  margin-bottom: 10px;
}

article span {
  font-weight: bolder;
}

p, li, a {
  font-family: "AnimeAce";
  text-align: justify;
}

.artist span {
  text-align: none;
}

/*Nav Bar*/
nav ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  align-items: center;
  list-style: none;
  height: 80px;
  background-color: #28756e;
  text-shadow: 1px 1px 0px white, 1px -1px 0px white, -1px 1px 0px white, -1px -1px 0px white;
}
nav ul a {
  text-decoration: none;
  color: #7e1527;
}

/*INK Logo*/
.logo {
  width: 30rem;
  z-index: 1;
  position: relative;
  top: 120px;
  display: flex;
  margin: auto;
  margin-top: 70px;
}

/*Lu Logo*/
.logo1 {
  width: 400px;
  position: relative;
  top: 120px;
  z-index: -1;
  display: flex;
  margin: auto;
  margin-bottom: 40px;
}

/*Carikku Logo*/
.logo2 {
  width: 400px;
  position: relative;
  top: 120px;
  z-index: -1;
  display: flex;
  margin: auto;
  margin-bottom: 60px;
  margin-top: 20px;
}

main {
  margin-top: -180px;
}

/*Karten insgesammt*/
.card {
  margin: auto;
  display: flex;
  align-items: center;
  background-color: white;
  color: #28756e;
  width: 80%;
  margin-bottom: 60px;
  border-radius: 10px;
}
.card img {
  display: flex;
  align-self: center;
  width: 400px;
  height: 400px;
  border: 8px solid #28756e;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
.card article {
  margin-left: 20px;
  margin-right: 20px;
}

/*Jede zweite verkackte Karte in Home*/
.card:nth-of-type(even) {
  background-color: #28756e;
  color: black;
  text-align: right;
}
.card:nth-of-type(even) img {
  border: 8px solid white;
}

/*Manga Karte*/
.manga {
  margin: auto;
  display: flex;
  align-items: center;
  background-color: #28756e;
  color: black;
  width: 80%;
  margin-bottom: 60px;
  border-radius: 10px;
}
.manga img {
  display: flex;
  align-self: center;
  width: 400px;
  height: 400px;
  border: 8px solid black;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
.manga article {
  margin-left: 20px;
  margin-right: 20px;
  font-family: "AnimeAce";
}
.manga p {
  margin-top: 20px;
}

.manga:nth-of-type(odd) {
  background-color: white;
  color: #28756e;
}
.manga:nth-of-type(odd) img {
  border-color: #28756e;
}

/*Social Media Icons*/
div img {
  width: 50px;
}

/*Social Media Div*/
.social {
  background-color: #28756e;
  margin: auto;
  border-radius: 25px;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  align-self: center;
}

/*Maskottchen*/
.ghost {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  margin-top: -40px;
}
.ghost img {
  width: 300px;
}

/*Footer*/
footer {
  display: flex;
  justify-content: space-between;
  margin: auto;
  background-color: #28756e;
  width: 90%;
  height: 70px;
  margin-bottom: 40px;
}
footer li {
  margin: 5px;
}
footer img {
  width: 60px;
}
footer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  background-color: #28756e;
  text-shadow: 1px 1px 0px white, 1px -1px 0px white, -1px 1px 0px white, -1px -1px 0px white;
}
footer ul a {
  text-decoration: none;
  color: #7e1527;
}
footer .rechts {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

/*Karten der Künstler*/
.bibliothek {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5%;
  width: 90vw;
  margin-top: 50px;
  margin-bottom: 50px;
}

.artist {
  margin-top: 20px;
  display: flex;
  width: 25vw;
  height: 100px;
  background-color: #E0E5EC;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 0px #28756e, 4px -4px 0px #28756e, -4px 4px 0px #28756e, -4px -4px 0px #28756e;
}
.artist img {
  width: 100px;
  margin-left: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 3px solid #28756e;
}
.artist a {
  text-decoration: none;
  display: flex;
  color: black;
  transition: all 0.5s;
}
.artist a div {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 12vw;
  margin-left: 20px;
}
.artist a h2 {
  font-size: 1rem;
}
.artist a span {
  font-size: 0.5rem;
}

/*_______________*/
.artist:hover {
  cursor: pointer;
  box-shadow: 4px 4px 0px #7e1527, 4px -4px 0px #7e1527, -4px 4px 0px #7e1527, -4px -4px 0px #7e1527;
}
.artist:hover a {
  color: #28756e;
}

.artisttitle {
  margin-top: 30px;
  position: relative;
  z-index: 2;
}

/*# sourceMappingURL=main.css.map */
